<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/awsome_cws</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>

		<!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <property name="hbm2ddl.auto">update</property>
        <property name="hbm2ddl.import_files">./sql/init.sql</property>
        <property name="connection.isolation">2</property>
        
        <mapping class="info.chen.awsome.cws.persist.entity.Department"/>
        <mapping class="info.chen.awsome.cws.persist.entity.DepartmentEmployee"/>
        <mapping class="info.chen.awsome.cws.persist.entity.DepartmentManager"/>
        <mapping class="info.chen.awsome.cws.persist.entity.Employee"/>
        <mapping class="info.chen.awsome.cws.persist.entity.Salary"/>
        <mapping class="info.chen.awsome.cws.persist.entity.Title"/>
	</session-factory>

</hibernate-configuration>